<div id="transfer_money_layer" class="ct-layui-layer">
    <form class="layui-form">
        <div style="text-align: right; margin-right: 15px;">
            <!-- 资金记录转换为转移记录按钮 -->
            <button type="button" id="transfer_money_layer_convert_btn"
                    class="layui-btn layui-btn-sm ct-bgcolor-blue" disabled
                    style="margin-right: 10px;" onclick="convertTransferToMoneyRecord()">转换为收支记录</button>
            <!-- 模式切换按钮 -->
            <a href="javascript:void(0);" style="cursor: pointer;" onclick="toggleTransferMoneyLayerView()">
                <span id="transfer_money_layer_toggle_btn_text"
                      style="font-size: 14px; font-weight: bold; font-family: 幼圆, serif;">完整</span>
                <img src="{% static 'images/switch.png' %}" alt="切换视图" style="width: 20px; height: 20px;">
            </a>
        </div>
        <!-- 记录原类型，用于记录类型的转换使用 -->
        <input type="hidden" id="transfer_money_layer_origin_type">
        <div class="layui-form-item ct-layui-layer-form-item">
            <label>记录 ID：</label>
            <input type="text" autocomplete="off" id="transfer_money_layer_id"
                   class="layui-input ct-layui-layer-form-item-ipt" disabled>
        </div>
        <div class="layui-form-item ct-layui-layer-form-item">
            <label>状态：</label>
            <input type="text" autocomplete="off" id="transfer_money_layer_status"
                   class="layui-input ct-layui-layer-form-item-ipt" disabled>
        </div>
        <div class="layui-form-item ct-layui-layer-form-item">
            <label>名字：</label>
            <input type="text" autocomplete="off" id="transfer_money_layer_name" placeholder="请输入资金条目名字"
                   class="layui-input ct-layui-layer-form-item-ipt ct-layer-js-fresh">
        </div>
        <div class="layui-form-item ct-layui-layer-form-item">
            <label>日期：</label>
            <input type="text" autocomplete="off" id="transfer_money_layer_date"
                   class="layui-input ct-layui-layer-form-item-ipt ct-layer-js-fresh">
        </div>
        <div class="layui-form-item ct-layui-layer-form-item">
            <label>源位置：</label>
            <div class="layui-input-block ct-layui-layer-form-item-select">
                <select lay-search="" id="transfer_money_layer_from_position_select"
                        lay-filter="transfer_money_layer_from_position_select"
                        class="ct-layer-js-fresh">
                    <option value="">选择源位置</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item ct-layui-layer-form-item">
            <label>目标位置：</label>
            <div class="layui-input-block ct-layui-layer-form-item-select">
                <select lay-search="" id="transfer_money_layer_to_position_select"
                        lay-filter="transfer_money_layer_to_position_select"
                        class="ct-layer-js-fresh">
                    <option value="">选择目标位置</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item ct-layui-layer-form-item">
            <label>金额：</label>
            <input type="text" autocomplete="off" id="transfer_money_layer_amount" placeholder="请输入金额"
                   class="layui-input ct-layui-layer-form-item-ipt ct-layer-js-fresh">
        </div>
        <div class="layui-form-item ct-layui-layer-form-item">
            <label>手续费：</label>
            <input type="text" autocomplete="off" id="transfer_money_layer_fee" placeholder="请输入手续费，注意减在【源位置】"
                   class="layui-input ct-layui-layer-form-item-ipt ct-layer-js-fresh">
        </div>
        <div class="layui-form-item ct-layui-layer-form-item ct-layui-layer-form-item-border">
            <label>账本：</label>
            <div class="layui-input-block ct-layui-layer-form-item-select">
                <select lay-search="" id="transfer_money_layer_ledger_select" class="ct-layer-js-fresh">
                    <option value="">请选择账本</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item ct-layui-layer-form-textarea-div">
            <label>其他描述：</label>
            <textarea placeholder="请输入描述" class="layui-textarea ct-layui-layer-form-item-textarea ct-layer-js-fresh"
                      id="transfer_money_layer_description" autocomplete="off"></textarea>
        </div>
        <!-- 保存并查看下一条待确认记录 按钮（默认隐藏，仅在修改层显示） -->
        <div id="transfer_money_layer_next_to_be_checked_container"
             style="text-align: right; margin-top: 0; display: none; margin-right: 15px;">
            <button type="button" id="transfer_money_layer_next_to_be_checked_btn"
                    class="layui-btn ct-bgcolor-blue" disabled
                onclick="saveAndViewNextToBeCheckedRecord_Transfer()">保存并查看下一条待确认记录</button>
        </div>
    </form>
</div>

<script>
    function openTransferMoneyLayer() {
        refresh_layer('transfer_money_layer');   // 清空原有数据

        // 加载 money_position 选项
        load_money_position_select($('#transfer_money_layer_from_position_select'), '选择源位置');
        load_money_position_select($('#transfer_money_layer_to_position_select'), '选择目标位置');
        // 加载账本选项
        load_ledger_select_list_for_transfer('transfer_money_layer_ledger_select');

        $('#transfer_money_layer_next_to_be_checked_container').hide();    // 添加模式下隐藏“保存并查看下一条待确认记录”按钮
        $('#transfer_money_layer_convert_btn').hide();                     // 添加模式下隐藏转换按钮
        toggleTransferMoneyLayerView('clean');                             // 默认使用简洁模式

        layer.open({
            type: 1
            , title: '新增资金转移记录'
            , area: '800px;'
            , shade: 0.8
            , id: 'transfer_money_layer'
            , btn: ['添加']
            , btnAlign: 'c'
            , closeBtn: 2
            , content: $("#transfer_money_layer")
            , yes: function (index) {
                if (do_add_money_transfer_record()) {  // 添加数据到数据库
                    layer.close(index);                // 如果顺利执行，则关闭窗口
                }
            }
        });

        // 切换到可以编辑状态
        switch_transfer_money_record_layer_status('');
    }

    // 加载账本列表数据
    function load_ledger_select_list_for_transfer(select_id){
        $.ajax({
            url:{% url 'e_get_ledgers' %},
            type: 'GET',
            async: false,
            data: {},
            success: function (money_ledger_dic) {
                // 清空原有 option
                document.getElementById(select_id).innerHTML = '<option value="">请选择账本</option>';

                // 遍历数据，逐项添加
                $.each(money_ledger_dic, function (ledger_id, ledger_item) {
                    $("#"+select_id).append("<option value=" + ledger_id + ">" + ledger_item['name'] + "</option>");
                });
                layui.form.render('select');
            }
        })
    }

    // 切换显示模式（简洁模式/完整模式）
    function toggleTransferMoneyLayerView(mode) {
        let toggleBtnText = $('#transfer_money_layer_toggle_btn_text').text();
        let recordIdElement = $('#transfer_money_layer_id').parent()[0];
        let recordStatusElement = $('#transfer_money_layer_status').parent()[0];
        let recordLedgerElement = $('#transfer_money_layer_ledger_select').parent().parent()[0];

        // 获取当前模式
        let switchToType;
        if (mode === 'clean') {
            switchToType = 'clean';
        } else if (mode === 'complete') {
            switchToType = 'complete';
        } else if (toggleBtnText === '简洁') {
            switchToType = 'complete';
        } else if (toggleBtnText === '完整') {
            switchToType = 'clean';
        } else {
            alert('切换模式失败，请重新操作！');
            return;
        }

        if (switchToType === 'complete') {
            $('#transfer_money_layer_toggle_btn_text').text('完整');
            recordIdElement.style.display = 'inline-block';
            recordStatusElement.style.display = 'inline-block';
            recordLedgerElement.style.display = 'inline-block';
        } else {
            $('#transfer_money_layer_toggle_btn_text').text('简洁');
            recordIdElement.style.display = 'none';
            recordStatusElement.style.display = 'none';
            recordLedgerElement.style.display = 'none';
        }
    }

    // 执行添加记录，回调函数
    function do_add_money_transfer_record() {
        // 获取前端数据
        let record_name = $('#transfer_money_layer_name').val();
        let record_date = $('#transfer_money_layer_date').val();
        let record_from_position = $('#transfer_money_layer_from_position_select').val();
        let record_to_position = $('#transfer_money_layer_to_position_select').val();
        let record_amount = $('#transfer_money_layer_amount').val();
        let record_fee = $('#transfer_money_layer_fee').val();
        let record_ledger = $('#transfer_money_layer_ledger_select').val();
        let record_desc = $('#transfer_money_layer_description').val();

        // 合法性校验
        if (!record_name || !record_date || !record_from_position || !record_to_position || !record_amount || !record_fee) {
            alert('信息不完整，请重新输入后操作！');
            return false;
        } else if (!Number(record_amount) || (!Number(record_fee) && record_fee !== '0')) {
            alert('输入金额不是数字，请重新输入后操作！');
            return false;
        } else if (new Date() < new Date(record_date.replace('-', '/').replace('-', '/') + ' ')){
            alert('输入日期超过今日日期，请重新输入后操作！');
            return false;
        } else if (record_from_position === record_to_position){
            alert('源位置和目标位置相同，请重新输入后操作！');
            return false;
        }

        // ajax实现数据传输
        $.ajax({
            url: {% url 'e_add_money_transfer_record' %},
            type: 'POST',
            async: false,
            data: {
                'record_name': record_name,
                'record_date': record_date,
                'record_from_position': record_from_position,
                'record_to_position': record_to_position,
                'record_amount': record_amount,
                'record_fee': record_fee,
                'record_ledger': record_ledger,
                'record_desc': record_desc,
            },
            success: function (success_info) {
                alert(success_info);             // 展示成功信息
                money_record_table.reload({});   // 表格数据重载
                load_money_position_card();      // 刷新 money_position_card
            }
        })
        return true;
    }
</script>

<!-- 资金转移记录修改层（复用 Layer 的 HTML 代码） -->
<script>
    function openTransferMoneyLayer_M(data) {
        // 加载原有数据（如有 data 传递时）
        if (data) {
            refresh_transfer_money_layer_M(data);
        } else {
            // 这里也需要加载，防止 data 为 null 的时候没有加载下拉框选项
            // 加载 money_position 选项
            load_money_position_select($('#transfer_money_layer_from_position_select'), '选择源位置');
            load_money_position_select($('#transfer_money_layer_to_position_select'), '选择目标位置');
            // 加载 ledger 选项
            load_ledger_select_list_for_transfer('transfer_money_layer_ledger_select');
            // 默认使用简洁模式
            toggleTransferMoneyLayerView('clean');
        }
        // 修改模式下显示“保存并查看下一条待确认记录”按钮（初始禁用，因为默认查看态）
        $('#transfer_money_layer_next_to_be_checked_container').show();
        $('#transfer_money_layer_next_to_be_checked_btn').prop('disabled', true);
        // 修改模式下显示转换按钮
        $('#transfer_money_layer_convert_btn').show();

        // 输入框样式刷新
        load_EditMoneyTransferRecordLayer_input_style();

        layer.open({
            type: 1
            , title: '修改资金转移记录'
            , area: '800px;'
            , shade: 0.8
            , id: 'modify_transfer_money01'
            , btn: ['编辑', '删除']
            , btnAlign: 'c'
            , closeBtn: 2
            , content: $("#transfer_money_layer")
            , success: function (layero){   // 设置按钮样式
                let btn = layero.find('.layui-layer-btn');
                btn.find('.layui-layer-btn0').css({
                   'background-color': '#1E9FFF',
                });
                btn.find('.layui-layer-btn1').css({
                    'background-color': '#FF3E42',
                    'color': '#eff',
                    'border': '1px solid #FF3E42',
                });
            }
            , yes: function (index, layero) {
                let btn0 = layero.find('.layui-layer-btn').find('.layui-layer-btn0');
                if(btn0.text() === '编辑'){
                    switch_transfer_money_record_layer_status_full('');
                } else if (btn0.text() === '更新'){
                    if (do_modify_money_transfer_record()){  // 添加数据到数据库
                        layer.close(index);                  // 如果顺利执行，则关闭窗口
                     }
                }
            }
            , btn2: function (index) {
                if (confirm('是否确认删除该记录？')) {
                    if (do_delete_transfer_money_record()) {  // 删除该条数据
                        layer.close(index);     // 如果顺利执行，则关闭窗口
                    }
                }
                return false;
            }
        });
    }

    layui.form.on('select(transfer_money_layer_from_position_select)', function (data) {
       load_EditMoneyTransferRecordLayer_input_style();
    });

    layui.form.on('select(transfer_money_layer_to_position_select)', function (data) {
       load_EditMoneyTransferRecordLayer_input_style();
    });

    // 加载原有数据
    function refresh_transfer_money_layer_M(data) {
        $.ajax({
            url:{% url 'e_get_money_record' %},
            type: 'GET',
            async: false,
            data: {
                'record_id': data['id'],
            },
            success: function (record_info) {
                // 加载 money_position 选项
                load_money_position_select($('#transfer_money_layer_from_position_select'), '选择源位置');
                load_money_position_select($('#transfer_money_layer_to_position_select'), '选择目标位置');
                // 加载 ledger 选项
                load_ledger_select_list_for_transfer('transfer_money_layer_ledger_select');

                // 填充原有数据
                let element_id_value_map = {
                    '#transfer_money_layer_origin_type': record_info['inout'],  // 设置原记录类型隐藏值
                    '#transfer_money_layer_id': record_info['id'],
                    '#transfer_money_layer_status': record_info['status'],
                    '#transfer_money_layer_name': record_info['name'],
                    '#transfer_money_layer_date': record_info['date'],
                    '#transfer_money_layer_from_position_select': record_info['position'].split('&&')[0],
                    '#transfer_money_layer_to_position_select': record_info['position'].split('&&')[1],
                    '#transfer_money_layer_amount': record_info['amount'],
                    '#transfer_money_layer_fee': record_info['fee'],
                    '#transfer_money_layer_description': record_info['description'],
                    '#transfer_money_layer_ledger_select': record_info['ledger'],
                }
                for (let key_x in element_id_value_map) {
                    $(key_x).val(element_id_value_map[key_x]);
                }

                // 设置当前模式
                toggleTransferMoneyLayerView(record_info['mode']);

                layui.form.render('select');

                // 设置不可编辑
                switch_transfer_money_record_layer_status_full('no');
            }
        })
    }

    // 完全切换是否可编辑状态（包括各类按钮）
    function switch_transfer_money_record_layer_status_full(status){
        if (status === 'no') {
            // 设置不可编辑
            switch_transfer_money_record_layer_status('disabled');

            // 查看态下禁用“保存并查看下一条待确认记录”按钮
            $('#transfer_money_layer_next_to_be_checked_btn').prop('disabled', true);

            // 主按钮切换为“编辑”蓝色样式与文案
            let btn0 = $('.layui-layer-btn .layui-layer-btn0');
            btn0.text('编辑').css({
                'background-color': '#1E9FFF',
                'border': '1px solid #1E9FFF',
            });
        } else {
            // 设置可以编辑
            switch_transfer_money_record_layer_status('');

            // 编辑态下使“保存并查看下一条待确认记录”按钮可用
            $('#transfer_money_layer_next_to_be_checked_btn').prop('disabled', false);

            // 主按钮切换为“更新”橙色样式与文案
            let btn0 = $('.layui-layer-btn .layui-layer-btn0');
            btn0.text('更新').css({
                'background-color': '#FF8C69',
                'border': '1px solid #FF8C69',
            });
        }
        load_EditMoneyTransferRecordLayer_input_style();
    }

    // 切换是否可编辑状态（输入框）
    function switch_transfer_money_record_layer_status(status){
        let element_id_list = [
            'transfer_money_layer_name',
            'transfer_money_layer_date',
            'transfer_money_layer_from_position_select',
            'transfer_money_layer_to_position_select',
            'transfer_money_layer_amount',
            'transfer_money_layer_ledger_select',
            'transfer_money_layer_fee',
            'transfer_money_layer_description',
            // 保存并查看下一条记录按钮随编辑态启用/禁用
            'transfer_money_layer_next_to_be_checked_btn',
            // 转换按钮随编辑态启用/禁用
            'transfer_money_layer_convert_btn',
        ]
        for (let idx in element_id_list) {
            document.getElementById(element_id_list[idx]).disabled = status;
        }
        layui.form.render('select');
    }

    // 执行修改记录，回调函数
    function do_modify_money_transfer_record() {
        // 获取前端数据
        let record_id = $('#transfer_money_layer_id').val();
        let record_name = $('#transfer_money_layer_name').val();
        let record_date = $('#transfer_money_layer_date').val();
        let record_from_position = $('#transfer_money_layer_from_position_select').val();
        let record_to_position = $('#transfer_money_layer_to_position_select').val();
        let record_amount = $('#transfer_money_layer_amount').val();
        let record_fee = $('#transfer_money_layer_fee').val();
        let record_ledger = $('#transfer_money_layer_ledger_select').val();
        let record_desc = $('#transfer_money_layer_description').val();
        let record_origin_type = $('#transfer_money_layer_origin_type').val();

        // 合法性校验
        if (!record_name || !record_date || !record_from_position || !record_to_position || !record_amount || !record_fee) {
            alert('信息不完整，请重新输入后操作！');
            return false;
        } else if (!Number(record_amount) || (!Number(record_fee) && record_fee !== '0')) {
            alert('输入金额不是数字，请重新输入后操作！');
            return false;
        } else if (new Date() < new Date(record_date.replace('-', '/').replace('-', '/') + ' ')){
            alert('输入日期超过今日日期，请重新输入后操作！');
            return false;
        } else if (record_from_position === record_to_position){
            alert('源位置和目标位置相同，请重新输入后操作！');
            return false;
        }

        // 获取当前模式
        let toggleBtnText = $('#transfer_money_layer_toggle_btn_text').text();
        let record_mode;
        if (toggleBtnText === '简洁') {
            record_mode = 'clean';
        } else if (toggleBtnText === '完整') {
            record_mode = 'complete';
        } else {
            alert('获取模式错误，请重新操作！');
            return false;
        }

        // 数据传输
        $.ajax({
            url:{% url 'e_modify_money_transfer_record' %},
            type: 'POST',
            async: false,
            data: {
                'record_id': record_id,
                'record_name': record_name,
                'record_date': record_date,
                'record_from_position': record_from_position,
                'record_to_position': record_to_position,
                'record_amount': record_amount,
                'record_fee': record_fee,
                'record_ledger': record_ledger,
                'record_desc': record_desc,
                'record_mode': record_mode,
                'record_origin_type': record_origin_type,  // 原记录类型
            },
            success: function (success_info) {
                alert(success_info);             // 展示成功信息
                money_record_table.reload({});   // 表格数据重载
                load_money_position_card();      // 刷新 money_position_card
            }
        })
        return true;
    }

    // 执行删除记录，回调函数
    function do_delete_transfer_money_record() {
        // 获取前端数据
        let record_id = $('#transfer_money_layer_id').val();

        // 数据传输
        $.ajax({
            url:{% url 'e_delete_money_record' %},
            type: 'GET',
            async: false,
            data: {
                'record_id': record_id
            },
            success: function (success_info) {
                alert(success_info);             // 展示成功信息
                money_record_table.reload({});   // 表格数据重载
                load_money_position_card();      // 刷新 money_position_card
            }
        })
        return true;  // 删除记录成功
    }

    // 保存并查看下一条待确认记录
    function saveAndViewNextToBeCheckedRecord_Transfer(){
        // 仅在编辑态下可用，若被禁用则直接返回
        if($('#transfer_money_layer_next_to_be_checked_btn').prop('disabled')){
            return;
        }

        if(do_modify_money_transfer_record()){  // 先保存当前修改（内部会 alert 并刷新表格与卡片）
            let record_id = $('#transfer_money_layer_id').val();
            $.ajax({
                url: {% url 'e_get_next_to_be_checked_money_record' %},
                type: 'GET',
                async: false,
                data: { 'current_id': record_id },
                success: function (res) {
                    if(res && res['id']){
                        if (res['inout'] === 'transfer') {
                            // 加载下一条记录数据
                            refresh_transfer_money_layer_M({'id': res['id']});
                            // 切换为编辑状态
                            switch_transfer_money_record_layer_status_full('');
                        } else if (res['inout'] === 'in' || res['inout'] === 'out') {
                            // 关闭当前弹层
                            layer.closeAll();
                            // 打开收支记录 Layer
                            openAddMoneyRecordLayer_M({'id': res['id']});
                            // 切换为编辑态
                            switch_add_money_record_layer_status_full('');
                        } else {
                            alert('获取下一条待确认记录失败（获取到的数据异常），请重新操作！');
                        }
                    } else {
                        alert('保存成功，已无待确认记录');
                        // 关闭弹层，避免空状态
                        layer.closeAll();
                    }
                }
            });
        }
    }

    // 从转移记录转换为普通记录（仅预填表单，不直接保存）
    function convertTransferToMoneyRecord(){
        if(!confirm('转换为普通记录将丢失字段：目标位置、手续费。是否继续？')){
            return;
        }

        let id = $('#transfer_money_layer_id').val();
        let status = $('#transfer_money_layer_status').val();
        let name = $('#transfer_money_layer_name').val();
        let date = $('#transfer_money_layer_date').val();
        let position = $('#transfer_money_layer_from_position_select').val();
        let amount = $('#transfer_money_layer_amount').val();
        let desc = $('#transfer_money_layer_description').val();
        let originType = $('#transfer_money_layer_origin_type').val();
        let ledgerId = $('#transfer_money_layer_ledger_select').val();

        layer.closeAll();

        // 将原记录类型传递给普通层，用于后端识别“转移->普通”的转换
        openAddMoneyRecordLayer_M();

        $('#add_money_record_layer_origin_type').val(originType);
        $('#add_money_record_layer_id').val(id);
        $('#add_money_record_layer_status').val(status);
        $('#add_money_record_layer_name').val(name);
        $('#add_money_record_layer_date').val(date);
        $('#add_money_record_layer_amount').val(amount);
        $('#add_account_layer_description').val(desc);
        $('#add_money_record_layer_inout_select').val('');
        $('#add_money_record_layer_type_select').val('');
        $('#add_money_record_layer_ledger_select').val(ledgerId);
        $('#add_money_record_layer_money_position_select').val(position);
        layui.form.render('select');

        // 切换为编辑态
        switch_add_money_record_layer_status_full('');
    }

    // 更新输入框内容样式
    function load_EditMoneyTransferRecordLayer_input_style(){
        console.log(new Date() + '触发样式刷新');

        let font_color = '#d7794b';    // 橙色
        let font_color_2 = '#ba49f9';  // 紫色

        let money_from_selector = $('#transfer_money_layer_from_position_select');
        if ($(money_from_selector).val() === 'unknown') {
            $(money_from_selector).parent().find('input').css(
                "cssText", 'font-weight: bold; color: ' + font_color + ' !important;'
            )
        } else {
            $(money_from_selector).parent().find('input').css(
                "cssText", 'font-weight: normal; color: initial !important;'
            )
        }

        let money_to_selector = $('#transfer_money_layer_to_position_select');
        if ($(money_to_selector).val() === 'unknown') {
            $(money_to_selector).parent().find('input').css(
                "cssText", 'font-weight: bold; color: ' + font_color + ' !important;'
            )
        } else {
            $(money_to_selector).parent().find('input').css(
                "cssText", 'font-weight: normal; color: initial !important;'
            )
        }

        if ($('#transfer_money_layer_status').val() === 'to_be_checked') {
            $('#transfer_money_layer_id').css(
                "cssText", 'font-weight: bold; color: ' + font_color + ' !important;'
            )
        } else {
            $('#transfer_money_layer_id').css(
                "cssText", 'font-weight: normal; color: initial !important;'
            )
        }
    }
</script>